body {
  background-color: #222222;
  font-family: "Fira Sans", sans-serif;
}
.nav .nav-link {
  color: rgb(255, 255, 255);
}
.nav .nav-link:hover {
  color: #44d62c;
  font-weight: bold;
}
.nav .TF {
  color: white;
}
.nav .TF:hover {
  color: rgb(68, 214, 44);
}
.active-custom {
  color: rgb(68, 214, 44) !important;
  font-weight: bold !important;
}
.navigasi {
  border: 2px solid rgb(68, 214, 44);
}
@media (max-width: 600px) {
  .navbar-brand img {
    display: none;
  }
  .dropdown {
    margin-top: 30px;
    margin: 10px auto;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }
  .login {
    margin-top: 20px;
  }
}
.login {
  background-color: #44d62c;
}

.btn .bi-box-arrow-right {
  opacity: 0;
  transition: 0.5s;
}
.btn:hover .bi-box-arrow-right {
  opacity: 1;
}
.dropdown-toggle.btn-custom {
  color: rgb(68, 214, 44);
}
.dropdown-menu .dropdown-item {
  color: rgb(255, 255, 255);
  background-color: #101010;
}
.dropdown-menu .dropdown-item:hover {
  color: rgb(68, 214, 44);
}
@media (max-width: 600px) {
  .navbar-brand img {
    width: 170px;
  }
}
.pr {
  color: #44d62c;
}
.box {
  margin-top: 180px;
  margin-bottom: 150px;
  background-color: #343434;
  width: 500px;
}
.data {
  color: rgb(68, 214, 44);
  font-size: 2rem;
}
@media (max-width: 600px) {
  .box {
    width: 360px;
  }
  .data {
    font-size: 1.2rem;
  }
}
/* 
  TODO : EDIT PROFILE
  */
.edit {
  margin-top: 120px;
  background-color: #343434;
  width: 500px;
  margin-bottom: 120px;
}
@media (max-width: 600px) {
  .edit {
    margin-top: 180px;
    width: 300px;
  }
}

.btn .bi-arrow-left-circle {
  display: none;
}
.btn:hover .bi-arrow-left-circle {
  display: inline;
}
.btn .bi-save {
  opacity: 0;
  transition: 0.5s;
}
.btn:hover .bi-save {
  opacity: 1;
}

.footer img {
  width: 450px;
}
@media screen and (max-width: 600px) {
  .footer img {
    width: 250px;
  }
}
.btn-success {
  background-color: #44d62c !important;
}
